pip install psutil
pip install selenium
pip install clipboard
pip install SpeechRecognition
pip install pipwin
pipwin install pyaudio
pip install playsound
pip install gTTS
pip install geopy
pip install requests
pip install prettytable
pip install cmake
pip install wikipedia
pip install vosk



pip install dlib
pip install face_recognition
pip install numpy
pip install opencv-python
